


.header {
    color: #888;
    font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
	text-shadow: #000 3px 3px;
	text-shadow: #000 1px 1px, #000 2px 2px, #000 3px 3px;
	float: right;
}

.header:hover {
    color: #FFF;
    text-shadow: #58E 1px 1px, #58E 2px 2px, #58E 3px 3px, #58E 4px 4px, #58E 5px 5px, #58E 6px 6px;
}

.header {
	position: relative;
	padding-right: 50;
}


.container {
    background: #1e1e1e  url(images/bg04.jpg) repeat; 
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
	color: #7f7f7f;
	text: center;
	float: left;
	background-color: rgba(251,150,132,1);
	border-radius: 25px;
		border: 2px solid #73AD21;
		padding: 20px auto 50px auto; 
		width: 200px;
		height: max-content;
		text-align: left;
		text: bold;

}


.results {


	background: rgb(134, 20, 0);
	border-radius: 102px 102px 102px 102px;
	-moz-border-radius: 102px 102px 102px 102px;
	-webkit-border-radius: 102px 102px 102px 102px;
	border: 11px groove #000000;
	float: right;
	

} 

